* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    flex-direction: column;
    background: url("bg.svg")no-repeat;

}

input {
    width: 50%;
    border-radius: 20px;
    height: 40px;
    outline: none;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    padding: 10px 30px;
    margin-bottom: 40px;
    transition: all 0.3s ease;
    font-size: 18px;
}

input:focus {
    background-color: #eeeeee;
}

input:focus:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
}

/*button {*/
/*    outline: none;*/
/*    border: none;*/
/*    background-color: #3676c8;*/
/*    color: #fff;*/
/*    font-size: 16px;*/
/*    padding: 10px 20px;*/
/*    border-radius: 5px;*/
/*    transition: all 0.2s ease;*/
/*}*/

/*button:hover {*/
/*    background-color: #131d8f;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);*/
/*}*/

/*button:active {*/
/*    background-color: #8f138d;*/
/*}*/

.button {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
}

.button:hover .button__text {
    top: -10px;
    color: #fff;
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
    -webkit-box-shadow: 0 5px 0px 0 #0c5b52;
    box-shadow: 0 5px 0px 0 #0c5b52;
}

.button__text {
    position: relative;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 40px;
    border-radius: 50px;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 5px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    top: 0;
    overflow: hidden;
    background: #eee;
}

.button__text:before {
    left: 0;
    z-index: 2;
}

.button__text:after {
    right: 0;
}

.button__text span {
    position: relative;
    z-index: 2;
}

.button:hover .button__text {
    background: #2798a0;
}

.button:active .button__text {
    top: -7px;
    -webkit-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    -webkit-box-shadow: 0 2px 0px 0 #0c5b52;
    box-shadow: 0 2px 0px 0 #0c5b52;
}